.Account-Details {
    background-image: url('../../img/bg-1 2.png');
    background-size: cover;
    height: 100%;
  }
    
  
  .logo-2 {
    width: 200px;
    height: auto;
    margin: 40px;
    padding: 40px;
    position: relative;
    top: -10px;
    left: 180px;
  }
  
  .main-container {
    display: flex;
  }
  
  .left-section {
    flex: 0 0 auto;
    margin-right: 2rem;
  }
  
  .left-image {
    width: 450px;
    height: auto;
    align-self: center;
    margin: 0;
    padding: 30px;
    position: relative;
    top: -100px;
    left: 80px;
    right: 0;
    bottom: 0;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .progress-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .progress-dots {
    width: 315px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:500px;
    justify-content: flex-start; 
    margin-right: 60px;
  
}

  .progress-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:white;
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  
  .progress-dot-one {
    border-color: red; 
  }
  .progress-line {
    width: 67.5px;
    border-bottom: 1px solid black;
    margin: 0 20px
  }
  
  .content {
    margin-left: 20px;
  }
  
  .email-input {
    margin-top: 20px;
  }
  
  .continue-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:215px; 
    margin-right: 27px;
  }
  
  .continue-image {
    width: 420px;
    cursor: pointer;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
   margin-right:130px;  
    margin-bottom:-40px
}

  .footer-links a  {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .back-button {
    background-color: transparent;
    color: #2d2e2e; 
    border: none;
    padding: 10px 30px; 
    font-size: 16px;
    position: relative;
    cursor: pointer;
    left:25px;
    top:20px
}

.back-button::before {
  content: "<"; 
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; 
  height: 18.48px; 
  width: 9.92px; 
}

.back-button:hover {
    color: #000; 
}
.right-section {
  width: 487px; 
  height: 638px; 
  padding: 0px; 
  box-shadow: 0 0 00px rgba(0, 0, 0, 0.1); 
  margin-top: -198px;
  margin-left: 190px;
}


.content-frame {
  height: calc(100% - 20px); 
  padding: 10px; 
  margin-top: 50px; 
}

.copyright {
  margin-top: -150px;
margin-left: -30px;
}

.email-input input {
  width: 400px;
    padding: 10px; 
  margin-top: 10px; 
}