.App {
  text-align: center;
}

.Background1{
 

  position: relative;
  bottom: 10px;

}
.Background2{

  position: relative;
  top: 200px;
  right: 60px;

  
  
}

.Background1-size{
  width: 100%;
  height: 100%;
}

.Background2-size{
  width: 100%;
  height: 100%;
}


.logo{


 width: 150px;
height: 100px;
position: relative;
margin-left: 6%;
left: 120px; 
bottom: 30px;
}

.Back{
  position: relative;
  width: 50px;
  left: 800px; 
  bottom: 150px;
  cursor: pointer;
  
}

.Asset{
  position: relative;
  bottom: 60px;
  margin-left: 6%;


}
.GooglePlay{
  width: 200px;
  height:60px;
  position: relative;
  left: 600px;
  bottom: 270px;
  cursor: pointer;
}
.qrCode{
  width: 200px;
  height: 200px;
  position: relative;
  left: 400px;
bottom:50px;
}
.HowToDownload{
  position: relative;
  left: 150px;
  width: 300px;
  top: 120px;
}
.Sign-in{
text-align: center;
position: relative;
top: 100px;
left: 1020px;
width: 50px;
color: rgb(63, 63, 231);
cursor: pointer;
}
.Sign-in2{
  text-align: center;
  position: relative;
  top: 65px;
  left: 1070px;
  width: 100px;
  }
  


.copyright{
  position: relative;
  top: 210px;
  width:50%;
  left: 50px;
}



.copy-right-size{
 width: 50%;
 position: relative;
 top: 150px;
}

.PrivacyStatement{
  width: 140px;
  position: relative;
  left: 885px;
  top: 114px;
  font-weight: bold;
  cursor: pointer;
}

.Legal{
  width: 60px;
  position: relative;
  left: 1022px;
top: 79px;
  font-weight: bold;
  cursor: pointer;
}

.Help{
  width: 60px;
  position: relative;
  left: 1080px;
 top: 44px;
  font-weight: bold;
  cursor: pointer;
}

.Contact{
  width: 70px;
  position: relative;
  left: 1130px;
  top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.footer-bar{
  position: relative;
top:0px;
  left: 0px;
  
}

 @media(max-width: 1230px)  {
  .Background2-size{
   
width: 1000px;
height: 200px;
  }
  .GooglePlay{
   
    position: relative;
    left: 400px;
    bottom: 270px;
  }
  .qrCode{
   
    position: relative;
    left: 200px;
    bottom:50px;
    
  }
  .HowToDownload{
    position: relative;
    left: -50px;
    top: 120px;
  }
  
  .Sign-in{
    text-align: center;
    position: relative;
    top: 100px;
    left: 820px;
    width: 50px;
    color: rgb(63, 63, 231);
    }
    .Sign-in2{
      text-align: center;
      position: relative;
      top: 65px;
      left: 870px;
      width: 100px;
      }

      .footer-bar{
        position: relative;
        left: -155px;
      }
} 


@media(max-width: 1130px)  {
  .Background2-size{
   
width: 1000px;
height: 200px;
  }
  
  .HowToDownload{
    position: relative;
    left: 750px;
    top: -30px;
  }
  
  .Sign-in{
    text-align: center;
    position: relative;
    top: -50px;
    left: 820px;
    width: 50px;
    color: rgb(63, 63, 231);
    }
    .Sign-in2{
      text-align: center;
      position: relative;
      top: -84px;
      left: 870px;
      width: 100px;
      }

      .footer-bar{
        position: relative;
        left: -185px;
      }

} 


@media(max-width: 1065px)  {
  .Background2-size{
   
width: 700px;
height: 200px;
  }
  .GooglePlay{
   
    position: relative;
    left: 200px;
    bottom: 270px;
  }
  .qrCode{
   
    position: relative;
    left: 0px;
    bottom:50px;
  }
  .HowToDownload{
    position: relative;
    left: 550px;
    top: -30px;
  }
  
  .Sign-in{
    text-align: center;
    position: relative;
    top: -50px;
    left: 620px;
    width: 50px;
    color: rgb(63, 63, 231);
    }
    .Sign-in2{
      text-align: center;
      position: relative;
      top: -84px;
      left: 670px;
      width: 100px;
      }

      .footer-bar{
        position: relative;
        left: -345px;
      }
  
} 





@media(max-width: 829px)  {
  .Background2-size{
   
width: 500px;
height: 200px;
  }
.Background2{
  top: 150px;
}
.copyright{
  position: relative;
  top: 160px;
}
  .copy-right-size{
    width: 50%;
    
   }
   .GooglePlay{

    position: relative;
    left: -400px;
   top: 60px;
  }
  .qrCode{
   
    position: relative;
    left: 0px;
    top: 70px;
    
  }
  .Back{
    position: relative;
  width: 50px;
    left: 0px; 
    bottom: 150px;
    
    
  }
  .HowToDownload{
    position: relative;
    left: -200px;
    top: 250px;
  }
  
  .Sign-in{
    text-align: center;
    position: relative;
    top:240px;
    left: 70px;
    width: 50px;
    color: rgb(63, 63, 231);
    }
    .Sign-in2{
      text-align: center;
      position: relative;
      top: 206px;
      left: 120px;
      width: 100px;
      }
      .footer-bar{
        position: relative;
       top: -50px;
       left: -450px;
      }

} 


@media(max-width: 879px)  {
  .Background2-size{
   
width: 500px;
height: 200px;
  }
  .footer-bar{
    position: relative;

   left: -570px;
  }
}


@media(max-width: 630px)  {
  .Background2-size{
   
width: 500px;
height: 200px;
  }
  

  .copy-right-size{
    width: 80%;
   }
   .GooglePlay{

    position: relative;
    left: 0px;
  top: -100px;
  }
  .qrCode{
   
    position: relative;
    left: -200px;
    top: 100px;
    
  }
  .HowToDownload{
    position: relative;
    left: 0px;
    top: 100px;
  }
  .Sign-in{
    text-align: center;
    position: relative;
    top:90px;
    left: 70px;
    width: 50px;
    color: rgb(63, 63, 231);
    }
    .Sign-in2{
      text-align: center;
      position: relative;
      top:56px;
      left: 120px;
      width: 100px;
      }
  
      .footer-bar{
        position: relative;
    
       left: -850px;
       top: -10px;
      }
} 




