body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.signin-page{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;

  background: linear-gradient(to bottom right, #ffebee, #ffffff);
}

/* TOP BAR */

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px 80px;
}

.logo{
  width:130px;
}

.home-button{
  text-decoration:none;
  border:2px solid #ff2b2b;
  padding:8px 18px;
  border-radius:6px;
  color:#333;
}

/* MAIN CONTENT */

.signin-content{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:120px;
  padding:40px 80px;
}

/* ILLUSTRATION */

.illustration img{
  width:350px;
}

/* SIGNIN BOX */

.signin-box{
  width:300px;
  text-align:center;
}

.signin-box h1{
  margin-bottom:25px;
}

/* GOOGLE BUTTON */

.google-btn{
  width:100%;
  padding:12px;
  border:none;
  border-radius:6px;
  background:#db4437;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

/* Sign in with email */
.email-btn{
  width:100%;
  padding:12px;
  border:2px solid #db4437;
  border-radius:6px;
  background:white;
  color:#db4437;
  font-weight:bold;
  cursor:pointer;
  margin-top:12px;
}

.email-btn:hover{
  background:#ffeaea;
}

/* NEW USER */

.new-user{
  margin-top:20px;
}

.download-link{
  margin-left:6px;
  color:#e63946;
  text-decoration:none;
}

/* FOOTER */

.footer{
  text-align:center;
  padding:30px;
}

.footer-links{
  margin-top:10px;
  display:flex;
  justify-content:center;
  gap:20px;
}

/* RESPONSIVE */

@media (max-width:900px){

  .signin-content{
    flex-direction:column;
    gap:40px;
  }

  .illustration img{
    width:250px;
  }

}